<script>
	import { supabase } from '$lib/store/supabase.js';
	import Button from '$lib/components/Button.svelte';
	import Spacer from '$lib/components/Spacer.svelte';

	import Frame from './frame.svelte';
	const login = async () => {
		await supabase.auth.signInWithOAuth({
			provider: 'google',
			options: {
				redirectTo: window.location.origin
			}
		});
	};
</script>

<div class="bg">
	<div class="container">
		<div class="card">
			<Frame />
			<h1>Task Tales</h1>
			<h2>Каждое выполненное дело – это шаг к победе в Средиземье!</h2>
			<p>
				Здесь каждое ваше действие имеет значение. От упражнений до чтения книги — все превращается
				в квесты. Погрузитесь в удивительный мир, где реальность и фэнтези становятся единым целым!
			</p>
			<h2>Навстречу приключениям!</h2>

			<Button on:click={login}>
				Войти
				<Spacer vertical />
				<img
					class="buttonIcon"
					src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
					alt="google"
				/></Button
			>
			<Spacer size={16} />
			<div class="el">
				<img src="/img/el/t7.png" alt="bg" />
			</div>
			<Spacer size={16} />
			<!-- <a href="https://t.me/+85qBTtk4G0oxYmNi" target="_blank" class="link">Написать разработчику</a
			> -->
			<div class="buttons">
				<a href="https://t.me/+85qBTtk4G0oxYmNi" target="_blank" class="link"
					><Button color="green">Написать разработчику</Button></a
				>
				<Spacer vertical />
				<a href="https://sponsr.ru/tasktales/" target="_blank" class="link"
					><Button>Поддержать <img src="/img/el/coins.png" alt="coins" class="buttonIcon" /></Button
					></a
				>
			</div>
		</div>
	</div>
</div>

<style>
	.el img {
		width: 360px;
		max-width: 100%;
	}
	.buttons {
		display: flex;
	}
	.buttonIcon {
		width: 16px;
		margin-left: 8px;
	}

	.link {
		color: #4d3823;
	}
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('/img/bg/auth.jpeg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	h2 {
		text-align: center;
	}
	.container {
		margin: 16px 8px 16px 8px;
		position: relative;
	}
	.card {
		position: relative;
		background-color: rgba(203, 182, 151, 0.8); /* Темный бурый цвет в стиле "Властелина колец" */
		padding: 20px;
		color: #694c34; /* Цвет текста в стиле "Властелина колец" */
		border: 1px solid #877253;
		border-radius: 4px;
		max-width: 512px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
</style>
