<script>
	
	
	import AddTask from './addTask.svelte';
	import Container from '$lib/components/Container.svelte';
	import Notification from '$lib/components/Notification.svelte';
	import Spacer from '$lib/components/Spacer.svelte'
	import Popup from './popup1.svelte'
</script>

<Container>
	<slot />
</Container>
<Spacer size={80}/>
<AddTask />
<Notification/>
<Popup/>
