<script>
	import { addTask, updateTask, deleteTodo } from '$lib/store/task.js';
	import { slide } from 'svelte/transition';
	import Button from '$lib/components/Button.svelte';
	import Spacer from '$lib/components/Spacer.svelte';
	import { skill } from '$lib/store/skill.js';
	import { clickOutside } from '$lib/utils/clickOutside.js';
	import { skillText } from '$lib/text/skill.js';
	import { addTaskStore } from '$lib/store/addTask.js';
	import Menu from './menu.svelte';
	import Checkbox from '$lib/components/Checkbox.svelte';

	const PERIODS = [
		{ id: 'daily', text: 'Раз в день' },
		{ id: 'weekly', text: 'Раз в неделю' },
		{ id: 'monthly', text: 'Раз в месяц' }
	];

	function handleFocus() {
		$addTaskStore.isFocused = true;
	}

	const selectSkill = (id) => {
		if ($addTaskStore.selectedSkill === id) {
			$addTaskStore.selectedSkill = null;
		} else {
			$addTaskStore.selectedSkill = id;
		}
	};
	const onClose = () => {
		$addTaskStore.isFocused = false;
		$addTaskStore.selectedSkill = '';
		$addTaskStore.recurring = false;

		$addTaskStore.inputValue = '';

		$addTaskStore.uuid = null;
	};
	const handleClickInside = () => {
		if ($addTaskStore.isFocused) {
			$addTaskStore.textarea.focus();
		}
	};
	function handleConfirm(e) {
		if ($addTaskStore.inputValue) {
			e.stopPropagation();
			const data = {
				text: $addTaskStore.inputValue,
				skillId: $addTaskStore.selectedSkill,
				frequency: $addTaskStore.frequency,
				recurring: $addTaskStore.recurring,
				uuid: $addTaskStore.uuid
			};
			if ($addTaskStore.uuid) {
				updateTask(data);
			} else {
				addTask(data);
			}

			onClose();
		}
	}

	const onDelete = () => {
		deleteTodo({ uuid: $addTaskStore.uuid });
		onClose();
	};
</script>

{#if $addTaskStore.isFocused}
	<div class="overlay" />
{/if}
<!-- svelte-ignore a11y-click-events-have-key-events -->
<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
	class="input-container {$addTaskStore?.isFocused ? 'fullscreen' : ''}"
	use:clickOutside
	on:click_outside={onClose}
	on:click={handleClickInside}
>
	{#if $addTaskStore.isFocused}
		<div transition:slide={{ duration: 300 }}>
			<div class="settings">
				<div>
					<div>
						<div>
							<Checkbox bind:checked={$addTaskStore.recurring}>Повторяется</Checkbox>
							<Spacer />
							{#if $addTaskStore.recurring}
								<div class="selector">
									{#each PERIODS as item}
										<div
											class="option"
											on:click={() => ($addTaskStore.frequency = item.id)}
											class:selectedOption={$addTaskStore.frequency === item.id}
										>
											{item.text}
										</div>
									{/each}
								</div>
							{/if}
						</div>
						<Spacer size={16} />
					</div>
					<div>
						<div>
							<div class="skills">
								{#each $skill as skill}
									<div class="skillWrapper">
										<!-- svelte-ignore a11y-click-events-have-key-events -->
										<!-- svelte-ignore a11y-no-static-element-interactions -->
										<div
											class="skill"
											on:click={() => selectSkill(skill.id)}
											style={`box-shadow: 0px 0px ${
												$addTaskStore.selectedSkill === skill.id ? 15 : 4
											}px ${skill.color};`}
											class:selected={$addTaskStore.selectedSkill === skill.id}
										>
											<img
												src={`/img/skill/${skill.icon}.png`}
												alt={skill.name}
												class="skillIcon"
											/>
										</div>
										<div class="skillName">{skillText[skill.name]}</div>
									</div>
								{/each}
							</div>
						</div>
						<Spacer size={16} />
					</div>
				</div>
				<div>
					<div class="buttons">
						{#if $addTaskStore.uuid}
							<Button on:click={onDelete}
								>Удалить <img src="/img/el/delete.png" alt="delete" class="deleteIcon" /></Button
							>
						{:else}
							<div />
						{/if}
						<Spacer vertical/>
						<Button on:click={handleConfirm}>{$addTaskStore.uuid ? 'Обновить' : 'Добавить'}</Button>
					</div>
					<Spacer size={16} />
				</div>
				
			</div>
		</div>
		<Spacer />
	{:else}
		<Menu />
	{/if}
	<textarea
		id="tour-step-3"
		type="text"
		bind:value={$addTaskStore.inputValue}
		bind:this={$addTaskStore.textarea}
		placeholder="Введите текст"
		on:focus={handleFocus}
	/>
</div>

<style>
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.selector {
		display: flex;
		border: 1px solid #4d3823;
		border-radius: 16px;
		overflow: hidden;
	}

	.option {
		background-color: #ad8c5f;
		padding: 4px 8px;
		cursor: pointer;
	}
	.selectedOption {
		background-color: #4d3823;
	}

	.skillWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.skillName {
		font-size: 8px;
	}
	.skill {
		margin: 4px;
		border-radius: 50%;
		cursor: pointer;
		transition: box-shadow 0.3s;
	}
	.skills {
		display: flex;
	}
	.skillIcon {
		width: 36px;
		display: block;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}
	.input-container {
		position: fixed;
		bottom: 0;
		background-color: #3e3b38;
		color: #f4f1de;
		padding: 4px 8px 16px 8px;
		border-top: 1px solid #8e5f36;
		/* border-radius: 5px; */
		left: 0;
		right: 0;
		box-sizing: border-box;
	}

	.input-container textarea {
		width: 100%;
		background-color: transparent;
		color: inherit;
		font-size: 16px;
		border: 1px solid #8e5f36;
		outline: none;
		box-sizing: border-box;
		color: #dcbe80;
	}
	.deleteIcon {
		width: 16px;
		margin-left: 8px;
	}
	@media (max-width: 500px) {
		.skills {
			justify-content: space-between;
		}
	}
	@media (min-width: 500px) {
		.settings {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
</style>
