<script>
	import { slide } from 'svelte/transition';
</script>

<div class="menu" transition:slide={{ duration: 300 }}>
	<a href="/app/todo" id="tour-step-4">
		<img src="/img/icon/home.png" class="menuIcon" alt="menutodo" />
		<div class='text'>ДЕЛА</div>
	</a>
	<a href="/app/map" id="tour-step-5">
		<img src="/img/icon/map2.png" class="menuIcon" alt="menutodo" />
		<div class='text'>КАРТА</div>
	</a>
	<a href="/app/skills" id="tour-step-6">
		<img src="/img/icon/skill2.png" class="menuIcon" alt="menutodo" />
		<div class='text'>НАВЫКИ</div>
	</a>
	<a href="/app/profile" id="tour-step-7">
		<img src="/img/icon/profile.png" class="menuIcon" alt="menutodo" />
		<div class='text'>ПРОФИЛЬ</div>
	</a>
</div>

<style>
	.menuIcon {
		width: 80px;
	}
	.menu {
		display: flex;
		justify-content: center;
		align-items: end;
		height: 28px;
	}
	.menu a {
		color: #dcbe80;
		margin: 8px;
		text-decoration: none;
	}
	.text{
		text-align: center;
		
		font-size: 10px;
	}
</style>
