<script>
	import { fade } from 'svelte/transition';
	import { popupStore } from '$lib/store/popup.js';
	import Button from '$lib/components/Button.svelte';

	import Spacer from '$lib/components/Spacer.svelte';

	const close = () => {
		$popupStore.isOpen = false;
	};
</script>

{#if $popupStore.isOpen}
	<!-- svelte-ignore a11y-no-static-element-interactions -->
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<div class="backdrop" on:click={close} transition:fade={{ duration: 300 }}>
		<div class="popup" on:click|stopPropagation>
			{#if $popupStore.image}
				<img src={`/img/bg/${$popupStore.image}.jpg`} alt="popupbg" />
			{/if}
			<Spacer />
			<div class="header">{$popupStore.header}</div>
			<div class="text">{$popupStore.text}</div>
			<Spacer />
			<div class="buttons">
				<Button on:click={close}>Закрыть</Button>
			</div>
			<Spacer />
		</div>
	</div>
{/if}

<style>
	.popup {
		background-color: #cbb697;
		width: 100%;
		max-width: 500px;
		border-radius: 8px;
		border: 1px solid #877253;
		overflow-y: auto;
		max-height: 95%;
		margin: 0 16px;
		color: #694c34;
		position: relative;
	}
	img {
		width: 100%;
		height: auto;
	}

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.buttons {
		display: flex;
		justify-content: center;
		padding: 0 8px;
	}
	.text{
		font-size: 16px;
		padding: 8px;
	}
	.header{
		font-size: 24px;
		text-align: center;
	}
</style>
