<script>
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';
	import { auth } from '$lib/store/auth.js';
	import { supabase } from '$lib/store/supabase.js';
	import { player } from '$lib/store/player.js';
	import { fetchData } from '$lib/store/player.js';
	import { page } from '$app/stores';

	onMount(async () => {
		if (!($page.url.pathname === '/' || $page.url.pathname.startsWith('/app/'))) {
			return;
		}
		const {
			data: { session }
		} = await supabase.auth.getSession();
		$auth = session?.user ?? null;
		if ($auth && !$player?.name) {
			await fetchData();
			if (!$player?.name) {
				goto('/newplayer');
			} else {
				goto('/app/todo');
			}
		} else if ($auth && $player.name) {
			goto('/app/todo');
		} else {
			goto('/auth');
		}

		const {
			data: { subscription: authListener }
		} = supabase.auth.onAuthStateChange((_, session) => {
			const currentUser = session?.user;
			$auth = currentUser ?? null;
		});

		return () => {
			authListener?.unsubscribe();
		};
	});
</script>

<slot />

<style>
	:global(body) {
		padding: 0;
		margin: 0;
		--background: #d4c3a5;
		background-color: var(--background);
		font-family: 'philosopher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>
