<script>
  import Spacer from '$lib/components/Spacer.svelte'
</script>
<div class='container'>
  <h2>Task Tales</h2>
  <Spacer/>
  <div class="wrapper">
    <img src="/img/bg/castle2.png" alt="loader" class="loader"/>
  </div>
  <div class="text">Loading...</div>
</div>

<style>

  .container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #694c34;
  }
  .loader{
    max-width: 80%;
    
  }
  .text{
    color: #694c34;
    
  }
  .wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }
</style>