<script>
    import { writable } from 'svelte/store';
    
    // Состояние, которое хранит текущий выбранный экран
    export const currentScreen = writable('dashboard');
  
    function navigateTo(screen) {
      currentScreen.set(screen);
    }
  </script>
  
  <div class="quick-access">
    <button on:click={() => navigateTo('shop')}>Магазин</button>
    <button on:click={() => navigateTo('inventory')}>Инвентарь</button>
  </div>
  
  <style>
    .quick-access {
      position: fixed;
      bottom: 70px;
      left: 0;
      right: 0;
      display: flex;
      gap: 10px;
      background-color: #3C372D;  /* Темный бурый цвет в стиле "Властелина колец" */
      padding: 20px;
      color: #F4F1DE;  /* Цвет текста в стиле "Властелина колец" */
    }
  
    .quick-access button {
      background-color: #80796B;  /* Светло-коричневый цвет для фона кнопок */
      border: none;
      padding: 10px 20px;
      color: inherit;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

    }
  
    .quick-access button:hover {
      background-color: #B6A754;  /* Золотой цвет для фона кнопок при наведении */
    }
  </style>
  