<script>
	import { onMount } from 'svelte';
	import Profile from './profile.svelte';
	import Tasks from './tasks.svelte';
	import Spacer from '$lib/components/Spacer.svelte';
	import { listenToTodoChange } from '$lib/store/task.js';
	import { createTour } from '$lib/data/tour.js';

	onMount(() => {
		let unsubscribe = listenToTodoChange();
		const blur = () => {
			if (typeof unsubscribe === 'function') unsubscribe();
		};
		const focus = () => {
			unsubscribe = listenToTodoChange();
		};
		window.addEventListener('blur', blur);
		window.addEventListener('focus', focus);
		createTour();
		
		return () => {
			if (typeof unsubscribe === 'function') unsubscribe();
			window.removeEventListener('blur', blur);
			window.removeEventListener('focus', focus);
		};
		
	});
</script>

<Profile />
<Spacer size={24} />
<Tasks />
<Spacer size={80} />
