
<div class="el2">
    <img src="/img/el/t20.png" alt="bg" />
</div>
<div class="el3">
    <img src="/img/el/t21.png" alt="bg" />
</div>
<div class="el4">
    <img src="/img/el/t21.png" alt="bg" />
</div>
<style>
   
	.el2 {
		position: absolute;
		bottom: -16px;
		left: 50%;
		transform: translateX(-50%);
		/* transform: rotate(180deg); */
	}
	.el2 img {
		max-width: 200px;
	}
	.el3 {
		position: absolute;
		top: -4px;
    	left: -6px;
		transform: scaleX(-1);
		/* transform: rotate(180deg); */
	}
	.el3 img {
		max-width: 60px;
	}
    .el4 {
		position: absolute;
		top: -4px;
    	right: -6px;
		/* transform: scaleX(-1); */
		/* transform: rotate(180deg); */
	}
	.el4 img {
		max-width: 60px;
	}
</style>