<script>
	import { onMount } from 'svelte';
	import Spacer from '$lib/components/Spacer.svelte';
	import { player, fetchData } from '$lib/store/player.js';
	import Progress from '$lib/components/Progress.svelte';
	onMount(() => {
		fetchData();
	});
</script>

<div class="character-profile" id="tour-step-1">
	<div class="el">
		<img src="/img/el/t3.png" alt="bg" />
	</div>
	<div class="el2">
		<img src="/img/el/t3.png" alt="bg" />
	</div>
	<div class="avatarContainer">
		<img src={`/img/avatar/${$player.avatar}.jpeg`} alt={$player.name} class="characterAvatar" />
		<img src={'/img/el/avatarFrame.png'} alt="avatarFrame" class="avatarFrame" />
		<div class="level">{$player.level}</div>
	</div>
	<div class="stats">
		<h2 class="character-name">{$player.name}</h2>
		<div class="exp">Опыт: {$player.xp}/{$player.next_level_xp}</div>
		<Spacer size={4}/>
		<Progress value={$player.xp} max={$player.next_level_xp} color="#4eb8cc" />
		<!-- <Spacer />
		<Progress value={$player.xp} max={$player.nextnext_level_xpLevelExperience} color="#b24211" /> -->
	</div>
</div>

<style>
	.exp{
		font-size: 12px;
	}
	.avatarContainer {
		position: relative;
		width: 100px;
		height: 100px;
	}
	.level {
		position: absolute;
		top: -4px;
		right: -16px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-image: url('/img/el/round.png');
		background-size: contain;
		color: #f4f1de;
	}
	.characterAvatar {
		width: 87px;
		height: 87px;
		border-radius: 50%;
		object-fit: cover;
		position: absolute;
		top: 6px;
		left: 6px;
	}
	.avatarFrame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
	}
	.stats {
		flex-grow: 1;
	}
	.el {
		position: absolute;
		top: -12px;
		right: -6px;
	}
	.el2 {
		position: absolute;
		bottom: -12px;
		left: -6px;
		transform: rotate(180deg);
	}
	.el img,
	.el2 img {
		max-width: 300px;
	}
	.character-profile {
		display: flex;

		gap: 16px;
		background-color: #4d3823; /* Темный бурый цвет в стиле "Властелина колец" */
		padding: 8px;
		border-radius: 4px;
		border: 1px solid #ad8c5f;
		color: #f4f1de; /* Цвет текста в стиле "Властелина колец" */
		position: relative;
	}

	
</style>
