<script>
	import { tasks, toggleTask } from '$lib/store/task.js';
	import { fade } from 'svelte/transition';
	import Task from '$lib/components/Task.svelte';
	import Card from '$lib/components/Card.svelte';
	import Frame from './frame.svelte';
	$: filtredTasks = $tasks
		? $tasks.filter((item) => {
				return new Date() > new Date(item.next_date) || !item.recurring;
		  })
		: [];
</script>

<div id="tour-step-2">
	<Card>
		<Frame />
		<h2>Дела</h2>
		<ul>
			{#each filtredTasks as task (task.uuid)}
				<li transition:fade={{ duration: 500 }}>
					<Task
						bind:checked={task.completed}
						through
						on:change={() => toggleTask(task.uuid)}
						{task}
						editable
					/>
				</li>
			{/each}
		</ul>
	</Card>
</div>

<style>
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		border-bottom: 1px solid #877253;
		padding-bottom: 8px;
		font-size: 18px;
	}

	h2 {
		margin-top: 0;
	}
</style>
