<script>
	import Button from '$lib/components/Button.svelte';
	import Container from '$lib/components/Container.svelte';
	import Card from '$lib/components/Card.svelte';
	import { player } from '$lib/store/player.js';
	import { supabase } from '$lib/store/supabase.js';
	import { goto } from '$app/navigation';
	import Spacer from '$lib/components/Spacer.svelte'

	const logout = async () => {
		localStorage.removeItem('tasks');
		localStorage.removeItem('player');
		localStorage.removeItem('skill');
		const { error } = await supabase.auth.signOut();
		if (error) console.log('Error logging out:', error.message);
		goto('/auth');
	};
</script>

<Container>
	<Card>
		<div class="wrapper">
		<div class="el1">
			<img src="/img/el/t19.png" alt="bg" />
		</div>
		<div class="el2">
			<img src="/img/el/t19.png" alt="bg" />
		</div>
		<div class="avatarContainer">
			<img src={`/img/avatar/${$player.avatar}.jpeg`} alt={$player.name} class="characterAvatar" />
			<img src={'/img/el/avatarFrame3.png'} alt="avatarFrame" class="avatarFrame" />
			<div class="level">{$player.level}</div>
		</div>
		<Spacer/>
		<h2>{$player.name}</h2>
		<Spacer/>
		<Button on:click={logout}>Выйти</Button>
		<Spacer size={16} />
			<div class="el">
				<img src="/img/el/t7.png" alt="bg" />
			</div>
			<Spacer size={16} />
			<!-- <a href="https://t.me/+85qBTtk4G0oxYmNi" target="_blank" class="link">Написать разработчику</a
			> -->
			<div class="buttons">
				<a href="https://t.me/+85qBTtk4G0oxYmNi" target="_blank" class="link"
					><Button color="green">Написать разработчику</Button></a
				>
				<Spacer vertical />
				<a href="https://sponsr.ru/tasktales/" target="_blank" class="link"
					><Button>Поддержать <img src="/img/el/coins.png" alt="coins" class="buttonIcon" /></Button
					></a
				>
			</div>
			<Spacer size={16} />
	</div>
	</Card>
</Container>

<style>
	.el img {
		width: 360px;
		max-width: 100%;
	}
	.buttons {
		display: flex;
	}
	.buttonIcon {
		width: 16px;
		margin-left: 8px;
	}

	.link {
		color: #4d3823;
	}
	.link{
		color: #4D3823;
	}
	.wrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.avatarContainer {
		position: relative;
		width: 200px;
		height: 167px;
		margin: auto;
	}
	.level {
		position: absolute;
		top: 126px;
		right: 43px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-image: url('/img/el/round.png');
		background-size: contain;
		color: #f4f1de;
	}
	.characterAvatar {
		width: 88px;
		height: 88px;
		border-radius: 50%;
		object-fit: cover;
		position: absolute;
		top: 47px;
		left: 51px;
	}
	.avatarFrame {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
	}
	.el1 {
		position: absolute;
		top: -16px;
		left: -9px;
		/* transform: translateX(-50%); */
	}
	.el1 img, .el2 img  {
		max-width: 360px;
	}
	.el2 {
		position: absolute;
		bottom: -16px;
		right: -9px;
		transform: rotate(180deg);
	}
</style>
