<!-- Skills.svelte -->
<script>
	import { onMount } from 'svelte';
	import Card from '$lib/components/Card.svelte';
	import SkillItem from './SkillItem1.svelte';
    import {skill, listenChange} from '$lib/store/skill.js'
	onMount(() => {
		const subscription = listenChange();
		return subscription;
	});
</script>

<Card>
    <div class="el">
        <img src="/img/el/t8.png" alt="bg" />
    </div>
	<div class="el2">
        <img src="/img/el/t8.png" alt="bg" />
    </div>
	<h2>Навыки</h2>
	<div class="skillsList">
		{#each $skill as skill}
			<SkillItem {skill} />
		{/each}
	</div>
</Card>
<!-- <img src="/img/bg/castle.png" alt="castle" class="castle"/> -->

<style>
    .el {
		position: absolute;
		top: -10px;
		right: -7px;
	}
	.el2 {
		position: absolute;
		bottom: -10px;
		left: -7px;
		transform: rotate(180deg);
	}
	
	.el img, .el2 img {
		max-width: 350px;
	}
	.skillsList{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.castle{
		width: 300px;
		margin: 0 auto;
		padding: 16px;
		display: block;
	}
</style>
