<!-- SkillItem.svelte -->
<script>
	import Progress from '$lib/components/Progress.svelte';
	import Spacer from '$lib/components/Spacer.svelte';
	import {skillText} from '$lib/text/skill.js'
	export let skill;
</script>

<div class="skillItem">
	<div class="iconContainer" style={`box-shadow: 0px 0px 5px ${skill.color};`}>
		<img src={`/img/skill/${skill.icon}.png`} alt={skill.name} class="icon" />
	</div>
	<Spacer  />
	<div class="info">
		<div>{skillText[skill.name] || skill.name}</div>
		<Spacer  />
		<div>Уровень: {skill.user_skill[0]?.level || 1}</div>
		<Spacer />
		<Progress value={skill.user_skill[0]?.xp || 0} max={skill.user_skill[0]?.nextXP || 100} color={skill.color} />
	</div>
	<!-- <p>{skill.description}</p> -->
</div>

<style>
	.iconContainer{
		border-radius: 50%;
	}
	.skillItem {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 8px 16px;
	}
	.icon {
		width: 64px;
		display: block;
	}
	.info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
