<script>
	import Button from '$lib/components/Button.svelte';
	import Spacer from '$lib/components/Spacer.svelte';
    import {setupPlayer} from '$lib/store/player.js'
    import { goto } from '$app/navigation';
	import { addTask } from '$lib/store/task.js';

	let step = 1;
	let name = '';
	let avatar = '';

	const avatars = [
        1, 4, 6, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 23, 24, 25
	];

	async function nextStep() {
		if (step === 1 && name) {
			step++;
		} else if (step === 2 && avatar) {
			await setupPlayer({name, avatar})
			await addTask({text: 'Выполнить первое задание'});
			goto('/app/todo')
		}
	}

	function selectAvatar(item) {
		avatar = item;
	}
</script>

<div class="container">
	<div class="character-creation">
        <div class="el">
            <img src="/img/el/t6.png" alt="bg" />
        </div>
		

		{#if step === 1}
            <h2>Как вас зовут?</h2>
			<input type="text" bind:value={name} placeholder="Введите имя персонажа" />
		{:else if step === 2}
            <h2>Выберите аватар</h2>
			<div class="avatars">
				{#each avatars as item}
					<div class="avatarContainer">
						<!-- svelte-ignore a11y-click-events-have-key-events -->
						<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
						<img
							src={`/img/avatar/${item}.jpeg`}
							alt="Аватар"
							class="avatar {avatar === item ? 'selected' : ''}"
							on:click={() => selectAvatar(item)}
						/>
					</div>
				{/each}
			</div>
		{/if}
		<Spacer />
		<Button on:click={nextStep}>Далее</Button>
	</div>
</div>

<style>
    .el {
		position: absolute;
		top: -12px;
		left: 12px;
	}
	
	.el img {
		max-width: 400px;
	}
	.avatarContainer {
		width: 25%;
		padding: 8px;
        box-sizing: border-box;
	}
	.character-creation {
        position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #f4f1de;
		padding: 20px;
		border-radius: 10px;
		max-width: 600px;
		margin: 0 auto;

		background-color: #cbb697; /* Темный бурый цвет в стиле "Властелина колец" */

		color: #694c34; /* Цвет текста в стиле "Властелина колец" */
		border: 1px solid #877253;
		border-radius: 4px;
	}

	h2 {
		color: #3e3e3e;
	}

	input {
		width: 100%;
		background-color: transparent;
		color: inherit;
		font-size: 16px;
		border: 1px solid #694c34;
		outline: none;
		box-sizing: border-box;
		color: #694c34;
		padding: 8px;
	}
    .avatars{
        display: flex;
        flex-wrap: wrap;
    }
	.avatar {
		width: 100%;
        transition: border-color 0.3s;
		box-sizing: border-box;
		cursor: pointer;
		border: 2px solid transparent;
		border-radius: 50%;
	}
    .avatar:hover{
        box-shadow: 0px 0px 15px #84B12B;
    }

	.avatar.selected {
		border-color: #84B12B;
	}
	.container {
		margin: 16px 8px 70px 8px;
	}
</style>
