<script>
	import { map, playerPosition, setPlace, setMap } from '$lib/store/map.js';
	import LocationPopup from './locationPopup.svelte';
	import { onMount } from 'svelte';
	import { listenChange } from '$lib/store/player.js';
	import { fetchQuestListData } from '$lib/store/quest.js';
	import Frame from './Frame.svelte';

	let isMoveLocked = false;
	fetchQuestListData();
	onMount(() => {
		return listenChange();
	});

	let showLocationPopup = false;

	function canMoveTo(currentPoint, targetPoint) {
		return $map.currentMap.connections.some(
			(connection) =>
				(connection.from === currentPoint && connection.to === targetPoint) ||
				(connection.from === targetPoint && connection.to === currentPoint)
		);
	}

	async function moveToPlace(place) {
		if(isMoveLocked) return;
		if (canMoveTo($map.currentPlace.id, place.id) || place.id === $map.currentPlace.id) {
			isMoveLocked = true;
			await setPlace(place.id);
		} else {
			return;
		}
		setTimeout(async () => {
			if (place.action && place.action.type === 'move_to_map') {
				await setMap(place.action.targetMapId, place.action.targetPlaceId);
			}
			if (place.quest_id && !place.questCompleted) {
				showLocationPopup = true;
			}
			isMoveLocked = false;
		}, 400);
	}

	$: path = $map.currentMap.connections
		.map((connection) => {
			const from = $map.currentMap.places.find((place) => place.id === connection.from);
			const to = $map.currentMap.places.find((place) => place.id === connection.to);
			return 'M' + from.x + ',' + from.y + ' L' + to.x + ',' + to.y;
		})
		.join(' ');
	const getPointColor = (place)=>{
		if(place.questCompleted){
			return 'green'
		} else if(place.quest_id){
			return '#b24211'
		} else {
			return 'white'
		}
	}
</script>

<div style="position: relative;" class="mapContainer">
	<Frame />

	<img src={`/img/map/${$map.currentMap.image}.jpg`} alt="Travel map" class="mapImage" />

	<svg viewBox="0 0 1024 1024" class="svgContainer">
		<path d={path} stroke="#e3e3e3" stroke-width="2" fill="none" stroke-dasharray="4" />
		<circle cx={$playerPosition.x} cy={$playerPosition.y} r="18" fill="#4eb8cc" />
		{#each $map.currentMap.places as place (place.id)}
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<!-- svelte-ignore a11y-no-static-element-interactions -->
			<circle cx={place.x} cy={place.y} r="10" fill={getPointColor(place)} class="dot" stroke="#e3e3e3"/>
			{#if place.allTasksCompleted && !place.questCompleted}
				<circle cx={place.x} cy={place.y} fill="none" r="10" stroke="green" stroke-width="6">
					<animate
						attributeName="r"
						from="8"
						to="30"
						dur="1.5s"
						begin="0s"
						repeatCount="indefinite"
					/>
					<animate
						attributeName="opacity"
						from="1"
						to="0"
						dur="1.5s"
						begin="0s"
						repeatCount="indefinite"
					/>
				</circle>
			{/if}
			<text x={place.x - (place.nameX || 25)} y={place.y + 33} font-size="24" fill="#fff"
				>{place.name}</text
			>
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<!-- svelte-ignore a11y-no-static-element-interactions -->
			<circle
				cx={place.x}
				cy={place.y}
				r="50"
				fill="transparent"
				class="dot"
				on:click={() => moveToPlace(place)}
			/>
		{/each}
	</svg>
</div>
{#if showLocationPopup}
	<LocationPopup
		quest_id={$map.currentPlace.quest_id}
		bind:showLocationPopup
		allTasksCompleted={$map.currentPlace.allTasksCompleted}
	/>
{/if}

<style>
	.mapContainer {
		position: relative;
		max-width: calc(100vh - 180px);
		margin: 0 auto;
		border: 1px solid #877253;
		border-radius: 4px;
	}
	.mapImage {
		width: 100%;
		display: block;
		border-radius: 4px;
	}
	.svgContainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.dot {
		cursor: pointer;
	}
</style>
