<div class="el">
	<img src="/img/el/t18.png" alt="bg" />
</div>
<div class="el2">
	<img src="/img/el/t18.png" alt="bg" />
</div>
<div class="el3">
	<img src="/img/el/t18.png" alt="bg" />
</div>
<div class="el4">
	<img src="/img/el/t18.png" alt="bg" />
</div>

<style>
	.el {
		position: absolute;
		top: -8px;
		left: -5px;
	}
	

	.el2 {
		transform: scaleX(-1);
		position: absolute;
		top: -8px;
		right: -6px;
	}
	.el3 {
		position: absolute;
		bottom: -9px;
		left: -5px;
        transform: scaleY(-1);
	}
    .el4 {
		transform: scale(-1);
		position: absolute;
		bottom: -8px;
		right: -6px;
	}
    img {
		max-width: 200px;
	}
	
</style>
