<script>
	import { fade } from 'svelte/transition';
	import Button from '$lib/components/Button.svelte';
	import Task from '$lib/components/Task.svelte';
	import Spacer from '$lib/components/Spacer.svelte';
	import { addTask } from '$lib/store/task.js';
	import {addXP} from '$lib/store/player.js';
	import { questList, addUserQuest, completeQuest } from '$lib/store/quest.js';
	import { notifications } from '$lib/store/notification.js';

	export let showLocationPopup = false;
	export let quest_id;
	export let allTasksCompleted = false;
	// export let location = {};
	$: location = $questList.find((item) => item.quest_id === quest_id);

	function addToTodo() {
		if (location.quest_task.length) {
			location.quest_task.forEach((item) => {
				addTask({
					text: item.name,
					skillId: item.skill_id ? item.skill_id : null,
					quest_task_id: item.quest_task_id
				});
			});
		}
		addUserQuest(quest_id);
		showLocationPopup = false;
	}
	const close = () => {
		showLocationPopup = false;
	};
	const onCompleteQuest = () => {
		completeQuest(quest_id);
		addXP(50);
		notifications.add('Квест выполнен, +50 XP');
		showLocationPopup = false;
	};
</script>

<!-- svelte-ignore a11y-no-static-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="backdrop" on:click={close} transition:fade={{ duration: 300 }}>
	<div class="popup" on:click|stopPropagation>
		{#if location.image}
			<img src={`/img/location/${location.image}.jpg`} alt="Location" />
		{/if}
		<div class="locationText">
			{#if allTasksCompleted}
				<h2>Квест пройден!</h2>
				{location.complete}
			{:else}
				{location.text}
			{/if}
		</div>
		<div class="el">
			<img src="/img/el/t7.png" alt="bg" />
		</div>
		<!-- <div class="questCondition">{location.questCondition}</div> -->
		{#if location.quest_task.length}
			{#each location.quest_task as task (task.quest_task_id)}
				<div class="questCondition">
					{task.description}
					<Spacer />
					<Task disabled {task} checked={task.userCompleted.length} />
				</div>
			{/each}
		{/if}
		<div class="buttons">
			{#if allTasksCompleted}
				<div />
			{:else}
				<Button color="green" on:click={close}>Закрыть</Button>
			{/if}

			{#if !location.quest_user.length}
				<Button on:click={addToTodo}>Принять</Button>
			{:else if allTasksCompleted}
				<Button on:click={onCompleteQuest}>Забрать награду</Button>
			{/if}
		</div>
		<Spacer />
	</div>
</div>

<style>
	.popup {
		background-color: #cbb697;
		width: 100%;
		max-width: 500px;
		border-radius: 8px;
		border: 1px solid #877253;
		overflow-y: auto;
		height: 100%;
		max-height: 95%;
		margin: 0 16px;
		color: #694c34;
		position: relative;
	}
	img {
		width: 100%;
		height: auto;
	}

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.locationText {
		padding: 16px 8px;
		/* border-bottom: 1px solid #877253; */
	}
	.questCondition {
		margin: 16px 8px;
		padding: 8px;
		border: 1px solid #877253;
		border-radius: 4px;
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		padding: 0 8px;
	}
	.el {
		display: flex;
		justify-content: center;
	}
	.el img {
		max-width: 300px;
	}
</style>
