<script>
  export let color = 'brown'
    
</script>
<button on:click class={color}><slot/></button>
<style>
    button{
        
      border: none;
      padding: 10px 20px;
      color: inherit;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s ease;
     
      padding: 8px;
      border-radius: 4px;
      align-items: center;
      display: flex;
    }
    .brown{
      background-color: #4D3823;  
      border: 1px solid #AD8C5F;
      color: #F4F1DE;  
    }
    .green{
      background-color: #373F2A;  
      border: 1px solid #786E53;
      color: #F5E5B1;  
    }
</style>