<script>

</script>

<div class="container">
	<slot />
</div>

<style>
	.container {
		position: relative;
		background-color: #cbb697; /* Темный бурый цвет в стиле "Властелина колец" */
		padding: 20px;
		color: #694c34; /* Цвет текста в стиле "Властелина колец" */
		border: 1px solid #877253;
		border-radius: 4px;
	}
</style>
