<script>
    export let checked;
	export let disabled = false
	export let through = false
	const id = Math.random();
</script>

<input
	class="checkbox"
	id={`checkbox-${id}`}
	type="checkbox"
	value="value1"
	bind:checked={checked}
	on:change
	{disabled}
/>
<label for={`checkbox-${id}`} class="label" class:completed={checked&&through}><slot /></label>

<style>
	.checkbox {
		position: absolute;
		opacity: 0;
	}
	.checkbox + label {
		position: relative;
		cursor: pointer;
		padding: 0;
        flex-grow: 1;
		display: flex;
		align-items: center;
		margin: 8px 0;
	}
	.checkbox + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		min-width: 20px;
		min-height: 20px;
		background: transparent;
        
		background-image: url(/img/el/checkbox.png);
		background-size: contain;
	}
	/* .checkbox:hover + label:before {
		background: #4d3823;
	}
	.checkbox:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}
	.checkbox:checked + label:before {
		background: #4d3823;
	} */
	
	.checkbox:checked + label:after {
		content: '';
		position: absolute;
		left: 5px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white,
			4px -8px 0 white;
		transform: rotate(45deg);
	}
    label.completed {
		text-decoration: line-through;
		opacity: 0.6;
	}
	
</style>
