<script>
	import { fly } from 'svelte/transition';
	import { notifications } from '$lib/store/notification.js';
</script>

<div class="toastContainer">
	{#each $notifications as notification (notification.id)}
		<div transition:fly={{ duration: 250 , y: 50}} class="toast">
            <img src="/img/el/soul.png" alt="soul" class="soul"/>
			{notification.message}
		</div>
	{/each}
</div>

<style>
    .toastContainer{
        position: fixed;
		bottom: 2rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	.toast {
        position: relative;
		padding: 1rem 2rem;
        margin: 4px;
        border: 1px solid #AE8C5F;
		background-color: rgba(67, 64, 57, 0.8);
		color: #fff;
		border-radius: 5px;
		z-index: 1000;
	}
    .soul{
        display: block;
        position: absolute;
        width: 70px;
        left: -40px;
        top: -10px;
    }
</style>
