
<script>
    export let value = 0;
    export let max = 0;
    export let color = '#4eb8cc';
    $: percent =  Math.min(100, (value / max) * 100);
</script>
<div class="experience-bar-container">
	<div
		class="experience-bar"
		style={`width: ${percent}%; background-color: ${color}`}
	/>
</div>

<style>
	.experience-bar-container {
		width: 100%;
		flex-grow: 1;
		height: 4px;
		background-color: #80796b;
		border-radius: 10px;
		overflow: hidden;
	}

	.experience-bar {
		height: 100%;
		background-color: #4eb8cc;
		transition: width 0.3s ease;
	}
</style>
