<script>
	import Checkbox from '$lib/components/Checkbox.svelte';
	import { skill } from '$lib/store/skill.js';
	import { addTaskStore } from '$lib/store/addTask.js';
	export let task;
	export let checked = false;
	export let through = false;
	export let disabled = false;
	export let editable = false;
	$: taskSkill = task.skill && $skill ? $skill.find((item) => item.id === task.skill.id) : null;
	const onEdit = () => {
		$addTaskStore.uuid = task.uuid;
		$addTaskStore.inputValue = task.name;
		$addTaskStore.selectedSkill = task.skill?.id;
		$addTaskStore.recurring = task.recurring;
		$addTaskStore.frequency = task.frequency;
		$addTaskStore.textarea.focus();
		$addTaskStore.isFocused = true;
	};
</script>

<div class="todo">
	<Checkbox bind:checked on:change {through} {disabled}>
		{#if taskSkill}
			<img src={`/img/skill/${taskSkill?.icon}.png`} alt={taskSkill?.name} class="skillAvatar" />
		{/if}{#if task.recurring}
			<img src="/img/el/infinity3.png" alt="recurring" class="recurring" />
		{/if}{task.name}
	</Checkbox>
	{#if editable && !task.quest_task_id}
		<img src="/img/el/edit1.png" alt="edit" class="edit" on:click={onEdit} />
	{/if}
</div>

<style>
	.todo{
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}
	.skillAvatar {
		width: 16px;
		margin-right: 4px;
	}
	.recurring {
		height: 20px;
		display: inline-block;
		margin-right: 4px;
	}
	.edit {
		height: 24px;
		cursor: pointer;
	}
</style>
